/* .about-container{
    
    /* color: black; */
    /* background: linear-gradient(90deg, #0D47A1 0%, #1976D2 48%, #42A5F5 100%); 
} */

.about-banner{
    background-color: white;
    /* padding: 6rem; */
    display: flex;
justify-content: space-between;
align-items: center;
height: 40vh;

}
.about-title{
    padding-left: 9rem;
}
.about-title h1{
    margin-bottom: 1.5rem;
    font-size: 3rem;
}
.about-title p{
    font-size: 1.5rem;
}
.hospital-img{
    /* width: 40rem; */
    height: 100%;
    padding-right: 9rem;
}
.about-desc{
    /* margin-top: 10vh; */
    background-color:  #0D47A1;
    display: flex;
    width: 80vw;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    border-radius: 5px;
    
}
.about-text{
    width: 50%;
    margin: 2rem;
}
.about-content{
    margin-bottom: 5rem;
}
.welcome{
    margin-bottom: 0.8rem;
    /* background-color: azure; */
    font-size: 1.5rem;
    font-weight: bolder;
}
.about-details{
    width: 50%;
    /* background-color: black; */
    margin: 2rem;
}
.about-vision{
    /* padding: 1rem; */
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    height: 50%;
}
.vision-icon{
    font-size: 5rem;
    margin-right: 1rem;
}
.vision-description{
    font-size: 0.8rem;
}
.about-mission{
    display: flex;
    align-items: center;
    height: 50%;
    /* background-color: antiquewhite; */
}
.mission-icon{
    font-size: 5rem;
    margin-right: 1rem;
    

}
.mission-description{
    font-size: 0.8rem;

}
.vision-title{
    margin-bottom: 0.8rem;

}
.mission-title{
    margin-bottom: 0.8rem;

}
.text-one{
    margin-bottom: 0.8rem;
    
}
.text-two{
    margin-bottom: 0.8rem;

}
@media only screen and (max-width: 1100px){
    .about-banner{
        flex-direction: column;
        height: fit-content;
        align-items: start;
        
    }
    .about-title{
        padding-left: 0rem;
        padding: 1rem;
        padding-top: 4rem;
    }
    .about-title p{
        font-size: 1rem;
    }
    .about-desc{
        flex-direction: column;
        width: 90vw;
        padding: 0rem;
      background: none;
     

        /* margin-top: 2rem; */
    }
    .about-text{
        width: 100%;
        /* padding: 1rem; */
        /* background-color: black; */
        margin: 0;
        /* background: linear-gradient(90deg, #0D47A1 0%, #1976D2 48%, #42A5F5 100%); */
        /* text-align: center; */
    background-color:  #0D47A1;

        border-radius: 5px;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .about-details{
        width: 100%;
        /* margin-top: 2rem; */
        background-color: white;
        margin: 0;
        margin-bottom: 3rem;
        color: black;
        /* padding-bottom: 2rem; */
        border-radius: 5px;
        padding: 0rem 1rem 2rem 1rem;
box-shadow: 0px 0px 8px #ddd;

    }
    
    .hospital-img{
        /* width: 40rem; */
        height: 60%;
        padding-right: 0rem;
        width: 100vw;
    }
    .welcome{
        margin-top: 2rem;
    }
    .about-vision{
        margin-bottom: 2rem;
        margin-top: 2rem;
        align-items: start;
    }
    .about-mission{
        align-items: start;
    }
    .vision-icon{
        font-size: 3rem;
        margin-right: 0.5rem;
    }
    .mission-icon{
        font-size: 3rem;
        margin-right: 0.5rem;
    }
    .vision-title{
        font-size: 1.2rem;
    }
    .vision-description{
        font-size: 0.8rem;
    }
    
    .mission-title{
        font-size: 1.2rem;
    }
    .mission-description{
        font-size: 0.8rem;
    }
}