.home-container{
    /* background: #0D47A1;
    background: linear-gradient(90deg, #0D47A1 0%, #1976D2 48%, #42A5F5 100%); */
    /* background-color: white;
     */
     background-color: #FFFFFF;
     background-image: linear-gradient(180deg, #FFFFFF 1%, #e3f2fd 78%, #e3f2fd 100%);
     
}

.search-bar-container{
    padding-top: 15vh;
    /* background-color: bisque; */
    width: 50%;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    min-width: 200px;
    margin-left: 5vw;
  }
  .landing-content{
    display: flex;
    justify-content: space-evenly;
  }
  .website-title{
    margin-bottom: 2rem;
  }
  .website-title h1{
    font-size: 3rem;
  }
.website-title h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    /* color: white; */
}
.search-description{
    margin-bottom: 1rem;
    /* color: white; */
    font-size: 20px;
}
.colored-title{
    background: -webkit-linear-gradient(90deg, #0D47A1 0%, #1976D2 48%, #42A5F5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script', cursive;
    font-size: 4rem;

}
.list{
    display: flex;
    /* justify-content: space-evenly; */
    
}

.doctor{
    height: fit-content;
    /* background-color: azure; */
    margin-bottom: 9rem;
}

.footer{
    background-color: white;
}

@media only screen and (max-width: 1100px){
   
    .website-title h1{
        margin-top: 2rem;
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
    .website-title h2{
        font-size: 2.3rem;
        /* text-align: center; */
    }
    .home-container{
        width: 100vw;
        background-image: linear-gradient(180deg, #FFFFFF 25%, #e3f2fd 78%, #e3f2fd 100%);
     
    }
    
    .doctor{
        width: 80vw;
    margin: 0 auto;
      margin-bottom: 5rem;  
    }
    .landing-content{
        flex-direction: column;
    }
    .search-bar-container{
        margin: 0 auto;
        width: 80vw;
        padding-top: 5vh;
    }
    .list{
        flex-direction: column;
    }
}