.dashboard-container{
    display: flex;
    flex-direction: row;
    
}
.entries{
    width: 40vw;
}

@media only screen and (max-width: 1100px){
    .dashboard-container{
        
        flex-direction: column;
        /* height: 100vh; */
    }
    .header-position{
        display: none;
    }
    .entries{
        display: none;
    }

}
