.signup-content{
    display: flex;
    /* margin: 0 auto; */
    background-color: white;
    max-width: 100vw;
/* margin-top: 3rem; */
height: 100vh;
}
.carefinder-image{
    background-image: url(https://res.cloudinary.com/dzzohccd8/image/upload/v1686494463/DEV%20Images/istockphoto-1447352591-612x612_aw61hv.jpg);
    background-size: cover;
    width: 50vw;
    
    opacity: 0.6s;
}
.signup-desc{
    background-color:#1E88E5;
    opacity: 0.6;
    width: 30rem;
    margin: 0 auto;
    margin-top: 15vh;
    height: 70vh;
    color: white;
}
.signup-context{
    padding: 2rem 0rem 0rem 1rem;
}
.carefinder-title{
    margin-bottom: 1rem;
    font-size: 5rem;
    
}
.carefinder-link{
    font-family: 'Kaushan Script', cursive;
    font-size: 1.8rem;
}
.search{
    color: black;
}
.signup-title{
    margin-bottom: 1.5rem;
}
.signup-form{
    display: flex;
    padding: 3rem;
    flex-direction: column;
    margin: 0 auto;
}
.signup-form form{
    display: flex;
    flex-direction: column;
    width: 20rem;
    /* background-color: azure; */
    
    
    /* flex-direction: column; */
}

.auth-username{
    /* margin-bottom: 1.5rem; */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c0c5c9;
    margin-top: 0.4rem;
}
.username-error-message{
    margin-bottom: 1rem;
    padding: 0.5rem 0rem;
    font-size: 0.6rem;
    text-align: end;
}
.auth-email{
    /* margin-bottom: 1.5rem; */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c0c5c9;
    margin-top: 0.4rem;
}
.auth-password{
    border-radius: 5px;
    /* margin-bottom: 1.5rem; */
    padding: 10px;
    border: 1px solid #c0c5c9;
    margin-top: 0.4rem;
}
.signup-btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1E88E5;
    color: white;
    margin-bottom: 1.5rem;
}
.signup-btn:hover{
    background: linear-gradient(90deg, #0D47A1 0%, #1976D2 48%, #42A5F5 100%);
    transition: 0.8s;
    cursor: pointer;
}

.signin-text{
    text-align: center;
    font-size: 0.8rem;
}


.signin-page{
    color:#1E88E5;
    text-decoration: none;
}


@media only screen and (max-width: 1100px){
    .carefinder-image{
        display: none;
    }
    .signup-form{
        padding: 0rem;
        margin-top: 3rem;
        
    }
    .signup-title{
        font-size: 1.5rem;
    }
}