
.signin-content{
    display: flex;
    /* margin: 0 auto; */
    background-color: white;
    max-width: 100vw;
/* margin-top: 3rem; */
height: 100vh;
}
.carefinder-image{
    background-image: url(https://res.cloudinary.com/dzzohccd8/image/upload/v1686494463/DEV%20Images/istockphoto-1447352591-612x612_aw61hv.jpg);
    background-size: cover;
    width: 50vw;
    
    opacity: 0.6s;
}
.signin-desc{
    background-color:#1E88E5;
    opacity: 0.6;
    width: 30rem;
    margin: 0 auto;
    margin-top: 15vh;
    height: 70vh;
    color: white;
}
.signin-context{
    padding: 2rem 0rem 0rem 1rem;
}
.carefinder-title{
    margin-bottom: 1rem;
    font-size: 5rem;
    line-height: 5rem;
}
.search{
    color: black;
}
.signin-form{
    display: flex;
    padding: 3rem;
    flex-direction: column;
    margin: 0 auto;
}
.signin-form form{
    display: flex;
    flex-direction: column;
    width: 20rem;
    /* background-color: azure; */
    
    
    /* flex-direction: column; */
}
.carefinder-logo{
    margin-bottom: 1rem;
    font-family: 'Kaushan Script', cursive;
    
}
.carefinder-link{
    text-decoration: none;
    color:#1E88E5;
    font-size: 1rem;
}
.login-title{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}
label{
    font-size: 0.8rem;
    font-weight: 600;
}
.waving-icon{
    margin-left: 0.5rem;
    
}
.login-description{
margin-bottom: 0.8rem;
color: #c0c5c9;
font-size: 0.8rem;
}
.auth-email{
    /* margin-bottom: 1.5rem; */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c0c5c9;
    margin-top: 0.4rem;
}
.auth-password{
    border-radius: 5px;
    /* margin-bottom: 1.5rem; */
    padding: 10px;
    border: 1px solid #c0c5c9;
    margin-top: 0.4rem;
    /* margin-bottom: none; */
}
.login-btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1E88E5;
    color: white;
    margin-bottom: 1.5rem;
}
.login-btn:hover{
    background: linear-gradient(90deg, #0D47A1 0%, #1976D2 48%, #42A5F5 100%);
    transition: 0.8s;
    cursor: pointer;
}
.or-text{
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0.5rem;
}


.google-signin{
    padding: 10px;
    border: 1px solid #c0c5c9;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.google-signin:hover{
    cursor: pointer;
    background: linear-gradient(90deg, #0D47A1 0%, #1976D2 48%, #42A5F5 100%);
    color:white;
    transition: 0.3s;
}
.google-text{
    margin-left: 0.5rem;
}
.signup-page{
    color:#1E88E5;
    text-decoration: none;
}
.input-error-message{
    text-align: end;
    margin-bottom: 1rem;
    font-size: 0.6rem;
    padding: 0.5rem 0rem;
} 
 .password-error-message{
    text-align: end;
    font-size: 0.7rem;
    /* background-color: antiquewhite;  */
width: 100%;
padding: 0.2rem 0rem;
margin-bottom: 0.8rem;
} 

.signup-text{
    text-align: center;
    font-size: 0.8rem;
}

.show-password{
    text-align: end;
    font-size: 0.7rem;
    
    color:#1E88E5;
    width: 100%;
    /* background-color: aliceblue */

}
.password-extra{
    display: flex;
    flex-direction: column;
   /* align-items: end; */
}
.show-password:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1100px){
    .signin-desc {
        display: none;
    }
    .carefinder-image{
        display: none;
    }
    .signin-form{
        margin-top: 3rem;
        width:100vw;
        padding: 0rem;
        align-items: center;
    }
    .login-title{
        font-size: 1.5rem;
    }
    .login-description{
        font-size: 1rem;
    }
    /* .auth-email{
        width: 80vw;
    } */
    .google-signin{
        width: 75vw;
    }
    .or-text{
        width: 75vw;
    }
    .signup-text{
        width: 75vw;
    }
}