.dash-user-container{
    width: 30vw;
    height: 100vh;
    background-color:#E3F2FD;
    /* border: 1px solid black; */
}
.dash-user-content{
margin: 10px;
background-color: white;
padding: 2rem;
height: 96.5%;
}
.user-title{
margin-bottom: 1rem;
}


.bio-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "age-tile gender-tile"
    "blood-tile blood-tile";
    row-gap: 10px;
    column-gap: 10px;
}

.age-tile{
    background-color: azure;
    height: 13rem;
    grid-area: age-tile;
}
.gender-tile{
    background-color: beige;
    grid-area: gender-tile;
}
.blood-tile{
    background-color: bisque;
    grid-area: blood-tile;
}
@media only screen and (max-width: 1100px){
    .dash-user-container{
        width: 100vw;
        /* height: 100vh; */
    }
    .age-tile{
        height: 5rem;
    }
    .dash-user-content{
        height: 70%;
    }
}