.dash-nav-container{
    width: 20vw;  
    height: 100vh;
    background-color:white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.dash-title{
padding: 2rem;
color: #0D47A1;
font-family: 'Kaushan Script', cursive;
}
.dash-nav-content{
    /* margin: 10px; */
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dash-nav{
    padding-top: 3rem;
    width: 80%;
    
}
.dash-nav li{
    /* background-color: #0D47A1; */
    padding: 10px;
margin-bottom: 10px;
/* text-align: center; */
list-style: none;
color: black;
border-radius: 5px;
/* text-decoration: none; */
}
.dash-nav li:hover{
    background-color: #BBDEFB;
    /* color: black; */
    transition: 0.4s;
    cursor: pointer;
    color: white;
}
.management-route{
    text-decoration: none;
    color: black;
}
.support-route{
    text-decoration: none;
    color: black;
}
.analysis-route{
    text-decoration: none;
    color: black;
}
.dash-menu li{
    padding: 8px 18px;
    border-radius: 5px;

}
.dash-menu li:hover{
    background-color: #0D47A1;
    color: white;
    margin: 0rem 0.5rem 0rem 0.5rem;
    cursor: pointer;
    transition: 0.4s;

}

.signout-btn{
    margin-top: 30vh;
    display: flex;
   
    align-items:  center;
    /* background-color: bisque; */
}
.logout-icon{
    font-size: 1rem;
}
.btn-signout{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0D47A1;
    color: white;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.btn-signout:hover{
 /* color: white; */
    transition: 0.4s;
    cursor: pointer;
    background: linear-gradient(90deg, #0D47A1 0%, #1976D2 48%, #42A5F5 100%);
}
.dash-menu{
    background-color: white;
    box-shadow: 0px 0px 8px #ddd;
    width: 208px;
    height: fit-content;
    position: absolute;
    display: none;
    left: -208px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 0.3s;
    animation: slide 0.5s forwards;
    animation-delay: 0.3s; 
    padding-bottom: 2rem;
}

.content-link{
text-decoration: none;
color: black;
}
.analysis-link{
text-decoration: none;
color: black;
}
.support-link{
text-decoration: none;
color: black;
}
.analysis-link{
text-decoration: none;
color: black;
}
.dash-feature{
    text-align: center;
    margin-bottom: 0rem;
}
.dash-icon{
    display: none;
    color: #1E88E5;
width: 10vw;
font-weight: bolder;
}

@media only screen and (max-width: 1100px){
    .dash-nav-container{
        width: 100vw;
        height: 3rem;
        background-color: transparent;
        box-shadow: none;
    }
   .dash-nav{
    display: none;
   }
   .dash-menu.expanded{
    display: block;
   }
   .dash-icon{
    display: block;
    margin: 0.5rem 0rem 0rem 2.2rem;
    font-size: 1.5rem;
   }
   .dash-icon:hover{
    cursor: pointer;
   }
   /* .signout-btn{
    display: none;
   } */
   .dash-nav-content{
    display: none;
   }
   .m-dash-feature{
    
    /* padding: 8px 18px; */
display: flex;
justify-content: center;
}
.btn-signoutm{
    margin-top: 3rem;
    /* padding: 0rem 0rem 0rem 3rem; */
    text-align: center;
    
}
.btn-signout-mble{
    padding: 0.5rem;
    background-color: white;
    border-radius: 10px;
    border: none;
    /* color: white; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.btn-signout-mble:hover{
    background-color: #BBDEFB;
    color: black;
    cursor: pointer;
    transition: 0.4s;
}

}