.dash-nav-container{
    width: 20vw;  
    height: 100vh;
    background-color:#E3F2FD ;
}
.dash-title{
padding: 2rem;
color: #0D47A1;
font-family: 'Kaushan Script', cursive;
}
.dash-nav-content{
    margin: 10px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dash-nav{
    padding-top: 3rem;
    width: 80%;
    
}
.dash-nav li{
    /* background-color: #0D47A1; */
    padding: 10px;
margin-bottom: 10px;
/* text-align: center; */
list-style: none;
color: black;
border-radius: 5px;
/* text-decoration: none; */
}
.dash-nav li:hover{
    background-color: #BBDEFB;
    /* color: black; */
    transition: 0.4s;
    cursor: pointer;
}
.management-route{
    text-decoration: none;
    color: black;
}

.signout-btn{
    margin-top: 30vh;
    display: flex;
   
    align-items:  center;
    /* background-color: bisque; */
}
.logout-icon{
    font-size: 1rem;
}
.btn-signout{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #BBDEFB;
    color: black;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.btn-signout:hover{
 color: white;
    transition: 0.4s;
    cursor: pointer;
    background-color: #0D47A1;
}