.btn-container{
height: 3rem;
/* background-color: antiquewhite; */
display: flex;
align-items: center;
}

.download-btn{
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 5px;
 background-color: #0D47A1;
    color:  white;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    margin-left: 0.8rem;
    /* box-shadow: 0px 0px 8px rgb(33, 33, 100); */
}
.download-btn:hover{
    background-color:#90CAF9;
    color: black;
transition: 0.5s;
box-shadow: 0px 0px 8px #ddd;
}
/* button span{
    font-size: smaller;
    font-weight: lighter;
} */

@media only screen and (max-width: 1100px){
    .download-btn{
        margin-left: 0rem;
        margin-top: 1rem;
        width: 80vw;
    }
    
}