

.nav-container{
    background: #0D47A1;
    background: linear-gradient(90deg, #0D47A1 0%, #1976D2 48%, #42A5F5 100%);
    width: 80%;
    height:4rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    color: white;
/* position: fixed; */
/* z-index: 999; */
}
.home-link{
    text-decoration: none;
    color: white;
}
.atoz-link{
    text-decoration: none;
    color: white;
}
.signin-link{
    text-decoration: none;
    color: white; 
}
.signup-link{
    text-decoration: none;
    color: white;
}
.faq-link{
    text-decoration: none;
    color: white;
}
.about-link{
    text-decoration: none;
    color: white;
}
.menu{
    display: flex;
}
.logo{
    margin: 0rem 0rem 0rem 1rem;
    padding:8px 18px;
    font-weight:bold;
   
}
.home-link p{
    font-family: 'Kaushan Script', cursive;
    font-size: 1.8rem;
}

.menu li{
    margin: 0rem 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 8px 18px;
    /* border-radius: 30px; */
    list-style: none;
    background-image: linear-gradient(#000 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.menu li :hover{
    border-bottom: 3px solid #90CAF9;
    padding-bottom: 10px;
    cursor: pointer;
    /* font-weight: bold; */
    /* border-radius: none; */
    /* background-position: 100% 100%; OR bottom right */
  /* background-size: 100% 2px; */

}
/* .m-content{
    position: fixed;
} */
.m-navicon{
   
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
   
}
.m-logo{
    display: none;
    margin-right: 2.5rem;
    font-family: 'Kaushan Script', cursive;
    color:#1E88E5;
    /* align-items: center; */
    /* margin-top: 0.3rem; */
font-weight: bolder;

}

.icon{
    /* margin: 0rem 1rem; */
    display: none;
    color: #1E88E5;
width: 10vw;
font-weight: bolder;
}

.icon:hover{
    cursor: pointer;
}
.m-menu{
background-color: white;
box-shadow: 0px 0px 8px #ddd;
width: 208px;
height: 65vh;
position: absolute;
display: none;
left: -208px;
-webkit-animation: slide 0.5s forwards;
-webkit-animation-delay: 0.3s;
animation: slide 0.5s forwards;
animation-delay: 0.3s;
}
.m-feature{
    text-align: center;
margin-bottom: 0rem;
}


.m-feature .m-homelink p{
font-weight: bolder;
margin-top: 1rem;
margin-bottom: 0.5rem;
text-decoration: none;
color: #1976D2;
font-family: 'Kaushan Script', cursive;
}

.BMI-link{
    text-decoration: none;
color: black;
}
.list-link{
    text-decoration: none;
color: black;
}
.signin-m{
    text-decoration: none;
color: black;
}
.signup-m{
    text-decoration: none;
color: black;
}
.mfaq-link{
    text-decoration: none;
color: black; 
}
.about-mlink{
    text-decoration: none;
    color: black; 
}


.m-menu li{
    padding: 1rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    list-style: none;
    background: linear-gradient(  #42A5F5 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.4s, background-position 0s;
}
.m-menu li:hover{
    --p: 100%;
    color: #fff;
cursor: pointer;
background-color: rgba(136,174,255,1) ;

}

/* animation on navigation */

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

/* mobile view */

@media only screen and (max-width: 1100px) {
  
    .logo{
        display: none;
       

    }
    .nav-container{
        display: none;
    }
    .m-menu.expanded{
        display: block;
        
    }
    .m-menu{
        display: none;
    }
   
   
.m-logo{
    display: block;
}

    .icon{
        display: block;
        margin: 0.5rem 0rem 0rem 2.2rem;
        font-size: 1.5rem;
    /* padding: 0.5rem 0rem 0rem 0.5rem; */
   /* background-color: #42A5F5; */
   
    }
    .m-homelink{
        text-decoration: none;
        color: black;
    }
    .list-link{
        text-decoration: none;
        color: black;
    }
    .m-navicon{
        height: 5vh;
        /* background-color: #000; */
    }

}




