.search-result{
    padding: 10px 20px;
}

.search-result:hover{
    background-color: #E3F2FD;
    cursor: pointer;
    /* color: white; */
    transition: 0.4s;
}
.result-name{
    font-weight: 600;
}
.result-address{
    color: rgb(130, 130, 130);
}