@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}
body{
  overflow-x: hidden;

}